# Folderat e sistemit 
bin/
obj/

# Skedarët e konfigurimit të Visual Studio
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates

# Skedarët e panevojshëm të sistemit operativ
Thumbs.db
.DS_Store
# Skedarët e testimit (Enkriptimi/Dekriptimi)
*.txt
*.enc
*.dec
*.bak

# Përjashtim: Mos i injoro skedarët dokumentues
!README.md
!LICENSE.md